<!DOCTYPE html>
<html>
<head>
    <title>YummyFit</title>
    <link rel="shortcut icon" href="/Images/candy.png">
    <link rel="stylesheet" type="text/css" href="/CSS/socialMedia.css">
</head>
<body>
    <div class="mainLoading">
        <div class="mainLoadingText">Loading</div>
        <img src="/Images/loading.gif"/>
    </div>
    <div class="main">
        <%- include("navbar") %>
        <div class="locationFrame">
            <div class="searchLocation">
                <div class="closeLocationFrame"><img src="/Images/close.png"/></div>
                <div class="searchLocationTitle">Search For Location</div>
            </div>
            <div class="searchLocationBar">
                <input type="text" class="locationInput" placeholder="Search Location" autocomplete="off"/>
            </div>
            <div class="searchLocationResultList"></div>
            <div class="goSearchLocation">
                <div class="goSearchPicture"><img src="/Images/earth.png"></div>
                <div class="goSearchText">Go search!</div>
            </div>
            <div class="noSearchLocationResult">
                <div class="noResultText">No locations to show</div>
                <div class="noResultPicture"><img src="/Images/map.png"></div>
            </div>
        </div>
        <div class="deletePostCheckFrame">
            <div class="deletePostCheckText">Delete your post ?</div>
            <div class="deletePostCheckBlock">
                <div class="deletePostCancelButton">Cancel</div>
                <div class="deletePostConfirmButton">Delete</div>
            </div>
        </div>
        <div class="deleteCommentCheckFrame">
            <div class="deleteCommentCheckText">Delete your comment ?</div>
            <div class="deleteCommentCheckBlock">
                <div class="deleteCommentCancelButton">Cancel</div>
                <div class="deleteCommentConfirmButton">Delete</div>
            </div>
        </div>
        <div class="contentPhotoEnlargeFrame">
            <img class="contentPhotoEnlarge"/>
            <div class="closePhotoEnlargeFrame"><img src="/Images/close2.png"/></div>
        </div>
        <div class="postLikeFrame">
            <div class="whoLikes">
                <div class="whoLikesText">Who Likes</div>
                <div class="closePostLikeFrame"><img src ="/Images/close.png"/></div>
            </div>
            <div class="postLikeList"></div>
            <div class="noLike">
                <div>Nobody likes yet.</div>
                <img src ="/Images/crying.png"/>
            </div>
        </div>
        <div class="socialMediaFrame">
            <div class="list">
                <div class="forum">
                    <img src= "/Images/list.png"/>
                    <span>Forum</span>
                </div>
                <div class="all">
                    <img src= "/Images/all.png"/>
                    <span>All</span>
                </div>
                <div class="yummyFood">
                    <img src= "/Images/tableware.png"/>
                    <span>Yummy Food</span>
                </div>
                <div class="weightLoss">
                    <img src= "/Images/fitness.png"/>
                    <span>Weight Loss</span>
                </div>
                <div class="cooking">
                    <img src= "/Images/cooking.png"/>
                    <span>Cooking</span>
                </div>
                <div class="chat">
                    <img src= "/Images/chat.png"/>
                    <span>Chat</span>
                </div>
                <div class="listPhoto">
                    <img src= "/Images/cookingFood.png"/>
                </div>
            </div>
            <div class="postFrame">
                <div class="postBlock">
                    <div class="postTextArea">
                        <div class="postUserAvatar">
                            <img/>
                            <div class="memberName"></div>
                        </div>
                        <div class="postingArea">
                            <div class="postForum">
                                <div class="postForumIcon"><img src="/Images/down.png"></div>
                                Posting Forum
                            </div>
                            <div class="postForumBlock">
                                <div class="postForumYummyFood">Yummy Food</div>
                                <div class="postForumWeightLoss">Weight Loss</div>
                                <div class="postForumCooking">Cooking</div>
                                <div class="postForumChat">Chat</div>
                            </div>                    
                            <textarea class="postTextInput" placeholder="share your food & thoughts !"></textarea>                            
                        </div>
                    </div>
                    <div class="postBlockHr"></div>
                    <div class="postBlockItems">
                        <div class="addPostPhoto">
                            <form id="addPostPhotoform" enctype="multipart/form-data">
                                <div class="addPostPhotoform">
                                    <img src="/Images/photos.png"/>
                                    <span>Photo</span>
                                    <input type="file" class="photoUploader" accept="image/*" multiple="multiple"/>                                
                                </div>
                            </form>
                        </div>
                        <div class="addPostLocation">
                            <img src="/Images/location.png"/>
                            <span>Location</span>                              
                        </div>
                        <div class="postButton" type="button">Post</div>
                    </div>
                </div>
                <div class="postLoading">
                    <div class="postLoadingText">Loading</div>
                    <img src="/Images/loading.gif"/>
                </div>
                <div class="showPostsFrame"></div>
                <div class="showPostsLoading">
                    <div class="showPostsLoadingText">Loading</div>
                    <img src="/Images/loading.gif"/>
                </div>
            </div>
        </div>
        <%- include("footer") %>
    </div>
    <script src="/JS/socialMedia.js"></script>
    <script src="/JS/showPosts.js"></script>
</body>
</html>